{% extends 'base.html' %}
{% load static %}
{% block title %}{{ name }}{% endblock %}

{% block content %}
<div class="service__page">
  <div class="service__card">
    <div class="service__container">
      <h1 class="service__card_name">{{name}}</h1>
      <h1 class="service__card_price">{{price}}</h1>
      <h1 class="service__card_desc">{{desc}}</h1>
      <button class="service__button">Откликнуться</button>
      <img src="{% static pic %}" class="service__image" alt="NONE">
      <h1 class="service__card_company">{{company}}</h1>
      <h1 class="service__card_adress">{{adress}}</h1>
    </div>
    <h1 class="service__tdesc">{{total_desc}}</h1>
  </div>

</div>

{% endblock %}