{% load static %}
<div class="card" >
    <img src="{% static element.pic %}" class="card__image" alt="NONE">
    <div class="card__container">
      <h1 class="card__container_name">{{ element.name }}</h1>
      <h1 class="card__container_price">{{ element.price }}</h1>
      <h2 class="card__container_company">{{ element.company }}</h2>
      <p class="card__container_desc">{{ element.desc }}</p>
      <a href="{% url 'vacancy_url' vacancy.id %}">
        <button class="card__button">Подробнее</button>
      </a>
    </div>
</div>