{% extends 'base.html' %}

{% block title %}Список услуг{% endblock %}

{% block content %}
    <div class="input">
      <form class="form" action="/" method="get">
        {% csrf_token %}
        <input placeholder="Профессия" class="page__input" name="vac" type="text" value="{{inp}}">
        <input class="page__button" type="submit" value="Найти">
    </form>
    </div>
    <div class="page__content">
      
        {% for vacancy in vacancies %}
          {% include 'vacancy_card.html' with element=vacancy %}
        {% empty %}
            <div class="page__NONE">Такой вакансии не существует</div>
        {% endfor %}
    </div>
{% endblock %}